<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Trisome Technical Services & Supply Pte Ltd</h1>

<hr>

<h2>System Summary Report as of {% now "jS F Y H:i" %}</h2>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Total Appointments:</th>
        <th>Pending Appointments</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ app_total }}</td>
            <td>{{ pending_app_total }}</td>
        </tr>
    </tbody>
</table>

</body>
</html>