{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trisome | Valves & Actuators Specialists</title>

    <!-- Website icon -->
    <link rel="icon" href="{% static 'assets/img/svg/trisome-logo.svg' %}">

    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Doesn't work, unsure why -->
    {#    <link href="{% static 'css/bootstrap.min.css' %}">#}
    {#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}

    <!-- Bootstrap sb-admin-2 CSS -->
    <link href="{% static 'css/sb-admin-2/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Put Javascript here -->
    {#    <script>alert("Welcome!");</script> <!-- This script brings out a popup. -->#}

    <!-- Webpage CSS style -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #divider-space-100 {
            margin: 100px;
        }

        .carousel-indicators {
            margin: 10px;
        }

        .carousel-item .container {
            margin: -10%;
        }

        .container-fluid .row {
            margin: 100px;
        }

        .container-fluid .row .col-lg-4 img {
            margin-bottom: 30px;
        }
    </style>

</head>

<body class="bg-gradient-primary">

<!-- Navigation bar -->
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home.html' %}">
                <img src="{% static 'assets/img/svg/trisome-logo.svg' %}" alt="Trisome logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    {% comment %}                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>{% endcomment %}
                </ul>

                <!-- Searchbar -->
                {% comment %}                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>{% endcomment %}

                <!-- Login/Sign up -->
                <div class="text-end">
                    <a href="{% url 'login.html' %}">
                        <button type="button" class="btn btn-primary">Login/Sign Up</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="container" style="width:500px; margin-top: 150px;">
            <div class="card">
                <div class="text-center">
                    <div class="card-body">

                        <h1 class="h3 mb-4 text-gray-800">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}</h1>

                        <h2 class="mb-5">You have been logged out.</h2>

{#                        <hr class="my-1 mb-5">#}

                        <a class="btn btn-outline-primary" href="{% url 'home.html' %}">Back to Home</a> <a class="btn btn-primary" href="{% url 'login.html' %}">Login Again</a>

                        <div class="mb-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Bootstrap Javascript -->
{#    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>#} <!-- This is my local file -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>
</html>